@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


$sm :640px;
$md : 768px;
$lg : 1024px;
$xl: 1280px;
$xxl: 1536px;

:root{
    /*fonts*/
    --font-rubik: 'Rubik', sans-serif;
    --font-roboto: 'Roboto', sans-serif;

    /*colors*/
    --color-primary: #0B2BB0;
    // --color-primary: #3847EC;
    --color-secondary: #595858;
    --color-text:#878787;

    /* responsive  */
    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
    --xxl: 1536px;
}
