@import "@scss/abstracts/variables";

.wrapper {
  position: relative;
  width: 100%;
  //   background: #1f2028;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: clip;
  margin-top: 100px;
  @media (max-width: $md) {
    background-image: none;
    height: auto;
  }
  .container {
    letter-spacing: 1px;

    @media (max-width: $md) {
      margin-top: 200px;
    }
    @media (max-width: $sm) {
      margin-top: 100px;
    }
    .titleSection {
      margin-bottom: 2rem;
      h2 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--color-secondary);
        margin-bottom: 1rem;
      }
      hr {
        background-color: var(--color-primary);
        border: none;
        color: var(--color-primary);
        width: 50px;
        height: 2px;
        margin-top: 10px;
      }
    }
    .galleryContainer {
    }
  }
}
