@import '../../scss/abstracts/variables';

.wrapper{
    background: var(--color-primary);
    color: rgb(255, 255, 255);
    .container{
        gap: 2rem;
        @media (max-width: $sm) {
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;
        }
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .brand{
                
                .text{
                    width: 80%;
                }
            }
        }
        hr{
            border: 1px solid rgb(255, 255, 255);
            opacity: 0.2;
            margin: 2rem 0;
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            .icons{
                display: flex;
                gap: 1rem;
                .item{
                    font-size: 1.5rem;
                    cursor: pointer;
                }
            }
        }
    }
}