@import '../../scss/abstracts/variables';

.wrapper{
    background: var(--color-primary);
    color: rgb(255, 255, 255);
    .container{
        gap: 2rem;
        @media (max-width: $sm) {
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;
        }
        .top{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .brand{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .logo{
                    svg{
                        width: 300px;
                    }
                }
                .text{
                    width: 80%;
                }
            }
            h4{
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }
            .services{
                ul{
                    li{
                        font-size: 1.1rem;
                        margin-bottom: 1rem;
                    }
                }
            }
            .contact{
                ul{
                    li{
                        display: flex;
                        align-items: center;
                        margin-bottom: 1rem;

                        span{
                            font-size: 24px;
                            margin-right: 0.5rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
        hr{
            border: 1px solid rgb(255, 255, 255);
            opacity: 0.2;
            margin: 2rem 0;
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            .icons{
                display: flex;
                gap: 1rem;
                .item{
                    font-size: 1.5rem;
                    cursor: pointer;
                }
            }
        }
    }
}