@import "@scss/abstracts/variables";

.wrapper {
  background-color: white;
  background-image: url("@assets/images/servicesbg.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: $md) {
    background-image: none;
  }
  .container {
    letter-spacing: 1px;
    .titleSection {
      h2 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--color-secondary);
        margin-bottom: 1rem;
      }
      hr {
        background-color: var(--color-primary);
        border: none;
        color: var(--color-primary);
        width: 50px;
        height: 2px;
        margin-top: 10px;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      gap: 1.5rem;
      position: relative;
      .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 18px;
        border: 2px dashed var(--color-primary);
        @media (max-width: $md) {
          flex-direction: column;
        }
        .info {
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          padding: 1rem;
          @media (max-width: $md) {
            width: 100%;
          }
          h3 {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--color-secondary);
            display: flex;
            align-items: center;
            .icon {
              font-size: 2rem;
              margin-left: 0.5rem;
              color: var(--color-primary);
            }
          }
          p {
            font-size: 1rem;
            color: var(--color-text);
            line-height: 1.6;
          }
          //modificando el estilo del ultimo p
          span {
            font-size: 0.9rem;
            color: var(--color-text);
            line-height: 1.6;
            @media (max-width: $lg) {
              display: none;
            }
          }
        }
        .image {
          width: 30%;
          padding: 1rem;
          opacity: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.5s ease-in-out;
          @media (max-width: $md) {
            width: 100%;
          }
          &:hover {
            transition: all 0.5s ease-in-out;
            opacity: 0.5;
            .textImage {
              display: block;
              animation: fadeIn 0.5s ease-in-out;

              @keyframes fadeIn {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }
            }
          }
          .textImage {
            position: absolute;
            text-align: center;
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: 1px;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
            transition: all 0.5s ease-in-out;
            display: none;
          }
          img {
            width: 100%;
            max-height: 200px;
            height: 100%;
            border-radius: 18px;
            object-fit: cover;

            @media (max-width: $md) {
              max-height: 250px;
            }
          }
        }
      }
    }
  }
}
